body {
  font-family: sans-serif;
  background-color: white;
  margin: 0;
  padding: 0px;
}

#rtl {
  direction: rtl;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

/* עיצוב הכותרת */
h1 {
  font-size: 36px;
  letter-spacing: 1px;
  /* color */
}

/* עיצוב תיבת החיפוש */
.search-container {
  text-align: center;
  margin-bottom: 20px;
}

input[type='text'] {
  padding: 12px;
  width: 60%;
  /* border: 2px solid #0073e6; */
  border-radius: 25px;
  outline: none;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

input[type='text']:focus {
  box-shadow: 0 6px 10px rgba(0, 115, 230, 0.3);
}

/* עיצוב רשימת הסניפים */

#branches-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.branch-card {
  background-color: white;
  border: none;
  border-radius: 15px;
  padding: 20px;
  width: 260px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: right;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  position: relative;
}

.branch-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(230, 119, 0, 0.429);
}

.branch-card h2 {
  font-size: 20px;
  /* color */
  margin-bottom: 15px;
}

.branch-card p {
  margin: 10px 0;
  /* color */
}

.branch-card .hours {
  font-size: 14px;
}

/* עיצוב האייקונים */
.icon-text {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.icon-text i {
  margin-left: 10px;
  /* color */
  font-size: 18px;
  /* transition: color 0.3s ease; */
}

.branch-card:hover .icon-text i {
  /* color */
}
